<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>

    <style>
        div#app div.boxes {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-flow: row wrap;
        }

        div#app div.boxes div.box {
            padding: 0;
            width: 400px;
            height: 200px;
            text-align: center;
            background-color: #ddd;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>

</head>

<body>
    <h1>Hello Vue! :D</h1>

    <div id="app">
        <div v-if="showBooks">
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <!-- <div v-show="showBooks">currently showing books</div> -->
        <br>

        <div class="boxes">
            <div class="box" @mouseover="handleEvent($event, 5)">Mouse Over</div>
            <div class="box" @mouseleave="handleEvent">Mouse Leave</div>
            <div class="box" @dblclick="handleEvent">Double Click</div>
            <div class="box" @mousemove="handleMouseMove">
                Mouse Move
                <br>
                <p>
                    <small>position</small>
                    <br>
                    x : {{ x }} - y : {{ y }}
                </p>
            </div>
        </div>
    </div>

    <script src="./app.js"></script>
</body>

</html>