<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        /* div#app div.boxes {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-flow: row wrap;
        }

        div#app div.boxes div.box {
            padding: 0;
            width: 400px;
            height: 200px;
            text-align: center;
            background-color: #ddd;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        } */
    </style>

</head>

<body>
    <h1>Hello Vue! :D</h1>

    <div id="app">

        <!-- Data binding -->
        <!-- <a v-bind:href="url">Visit Our Site</a>
        <br>
        <a :href="url">Visit Our Social</a> -->


        <p>{{ filteredBooks }}</p>

        <div v-if="showBooks">
            <!-- Chapter 2 - Video 12 -->
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center justify-content-between" v-for="(book, index) in books" :class="{ 'fav': book.isFav }">
                    <!-- Attribute Data binding -->
                    <img class="rounded" :src="book.img" :alt="book.title">
                    <h3>{{book.title}}</h3>
                    <p>{{book.author}}</p>
                    <button class="btn btn-link" @click="toggleFavorite(index)">
                        <i v-if="book.isFav==false" class="fa-regular fa-star"></i>
                        <i v-else class="fa-solid fa-star"></i>
                    </button>
                </li>
            </ul>

        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <!-- <div v-show="showBooks">currently showing books</div> -->

        <!-- Chapter 2 - Video 11 -->
        <!-- <br>
        <div class="boxes">
            <div class="box" @mouseover="handleEvent($event, 5)">Mouse Over</div>
            <div class="box" @mouseleave="handleEvent">Mouse Leave</div>
            <div class="box" @dblclick="handleEvent">Double Click</div>
            <div class="box" @mousemove="handleMouseMove">
                Mouse Move
                <br>
                <p>
                    <small>position</small>
                    <br>
                    x : {{ x }} - y : {{ y }}
                </p>
            </div>
        </div> -->

    </div>

    <script src="./app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>

</html>